body {
    width: 1920px;
    height: 1285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleName {
    color: #666;
    font-size: large;
}

.pictureBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictureflexColumn {
    padding-bottom: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #999;
}

.flexColumn {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.displayContainer {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.text {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
    font-style: italic;
}

.textBlock {
    border: 1px solid #999;
    border-radius: 5px;
    margin: 100px;
    padding: 20px;
    color: #666;
    font-size: 12px;
    font-style: italic;
    background-color: aliceblue;
}
.charts {
    border-left: 1px solid #999;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}

.doublechartsCombine{
    display: flex;
    align-items: center;
}